<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="issueCon" value="Data Source=10.10.10.80,2433;Initial Catalog=HyFilmCopyForZyNew;UID=sa;PWD=hyby@123;"/>
    <add key="settleCon" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.10.130.23)(PORT=8903))(CONNECT_DATA=(SERVICE_NAME = settle_primary)));User Id=settle;Password=settle;"/>
  </appSettings>
</configuration>